body{
    background-color: black;
    font-family: cursive;
    text-align: center;
    color: rgb(241, 244, 248);
    width: 2;
}
button{
    background-color: rgb(1, 14, 14);
    border: 0;
    color: floralwhite;
}
img{
width: 60%;

}